.footer {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

.footer a {
    text-decoration: none;
}

.plus-link {
    padding: 0.2rem 1.7rem;
    background: linear-gradient(202.17deg, #FF00D6 8.58%, #FF4D00 91.42%);
    border-radius: 20px;
    color: #FFF;
    font-size: 1.2rem;
}